.roundPic{
    width: 70vw;
    height: 70vh;
}

.jumbotron{
    margin-top: 2%;
}

.genreicons{
    display: inline-block;
    max-height: 7vh;
    max-width: 7vw;
    margin-left: 2%;
    margin-right: 2%;
}

.genreicons:hover, .choiceButton:hover, .nextButton:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.genreicons:focus{
    outline: none;
}

.choiceButton {
    width: 70%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nextButton {
    display: block;
}