
.jumbotron{
    margin-top: 2%;
}

.genreicons{
    display: inline-block;
    max-height: 9vh;
    max-width: 9vw;
    margin-left: 4%;
    margin-right: 4%;
}

.choiceButton:hover, .nextButton:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.genreicons:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.genreicons:focus{
    outline: none;
}

.choiceButton {
    width: 70%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nextButton {
    display: block;
}

.genreLink:hover {
    text-decoration: none;
}

.mute{
    display: block;
}